<script type="text/javascript" src="{{ 'shop/cart.js' | global_asset_url }}"></script>
<script type="text/javascript">
  $(document).ready(function(){
  	var test=$('#coupon_text').val()
        if (!test.length) $('#coupon_text').val('')
  })
  var quantity_limit_errors = 0;
  jQuery(function($) {
      $(".recalc").click(function(event) {
          $('#cartform').submit();
          event.preventDefault();
      });
      // Пересчитать
      $("input[name^=cart]").unbind("change keyup").bind("change keyup", function() {
          if ($(this).attr("name").match("parameters")) return;
          var item_tr = $(this).parents("tr:first");
          if (!checkQuantityLimitInCart(item_tr) || !checkQuantitlyLimitErrors()) {
            $('#create_order').attr('disabled','disabled').css('opacity','0.3');
            item_tr.find(".recalc").hide();
          } else {
            $('#create_order').removeAttr('disabled').css('opacity','1');
            item_tr.find(".recalc").show();
          }
      });
      $("select[name^=pack_quantity]").unbind("change keyup").bind("change keyup", function() {
          if ($(this).attr("name").match("parameters")) return;
          var item_tr = $(this).parents("tr:first");
          if (!checkQuantityLimitInCart(item_tr) || !checkQuantitlyLimitErrors()) {
            $('#create_order').attr('disabled','disabled').css('opacity','0.3');
            item_tr.find(".recalc").hide();
          } else {
            $('#create_order').removeAttr('disabled').css('opacity','1');
            item_tr.find(".recalc").show();
            $("input[iid='"+ $(this).attr('iid') +"']").val( $(this).val() );
          }

      });

     function checkQuantityLimitInCart(item_tr){
       // введённое кол-во товара:
       var current_variant_quantity = parseInt(item_tr.find("input[name^='cart[quantity]']:first").val());
       // кол-во товара на складе:
       var item_variant_quantity = parseInt(item_tr.find("input.item_variant_quantity").val());
       if (current_variant_quantity > item_variant_quantity ){
         item_tr.find(".quantity-limit-warning").show();
         item_tr.find(".quantity-limit-warning").addClass('quantity_error');
         return false;
       }
       item_tr.find(".quantity-limit-warning").hide();
       item_tr.find(".quantity-limit-warning").removeClass('quantity_error');
       return true;
     }

     function checkQuantitlyLimitErrors(){
       return $('.quantity_error').size() == 0
     }
  })
</script>

<section class="container my-5">
  <div class="row">
    <div class="col-md-3 pl-0">
      <ul class="list-unstyled catalog-menu py-4 px-0">
        <li class="px-4 mx-0"><a href="#">Доставка и получение</a></li>
        <li class="px-4 mx-0"><a href="#">Обмен и возврат</a></li>
        <li class="px-4 mx-0"><a href="#">Оплата</a></li>
      </ul>
    </div>
    <div id="basket" class="col-md-9 cartOrder">
      <h1>Оформление заказа</h1>
      <h2>Уважаемый покупатель!</h2>
      <p>Перед тем, как оформить заказ, просим Вас ознакомиться с условиями оплаты и доставки, а также с правилами возврата товара</p>

      {% if cart.items != empty %}
      <form action="/cart_items" id="cartform" method="post">
        <input type="hidden" name="lang" value="{{ language.locale }}">
        <input type="hidden" value="put" name="_method">

        <table id="cartTable" class="table">
          <thead>
            <tr>
              <th scope="col" colspan="2">Товары</th>
              <th scope="col" class="ctQuant">Кол&nbsp;&dash;&nbsp;во</th>
              <th scope="col" class="ctPrice">Цена&nbsp;за&nbsp;единицу</th>
              <th scope="col" class="ctOverall">Итого</th>
            </tr>
          </thead>
          <tbody>
            {% for item in cart.items %}
              <tr valign="top">
                <td class="ctImage">
                  <div class="thumbSmall">
                    <a class="picture" title="{{ item.product.title | escape }}" href="{{ item.product.url }}">

    {% comment %}
    {% assign color = '' %}
    {{ color }}
    {% assign image_url = item.product.first_image.thumb_url %}
    {% for option_value in item.variant.option_values %}
      {% if option_value.option_name.title == 'Цвет' %}
          {% capture color %}{{ option_value.title | replace: ' ', '_' }}.{% endcapture %}
          {% for image in item.product.images %}
            {% if image.url contains color %}
              {% assign image_url = image.thumb_url %}
            {% endif%}
          {% endfor%}

      {% endif %}
    {% endfor %}
    {% endcomment %}


                      <img src="{{ item.product.first_image.thumb_url }}" title="{{ item.product.title | escape }}" alt="{{ item.product.title | escape }}" />
                    </a>
                  </div>
                </td>

                <td class="ctDesc">
                  <a class="itemName" href="{{ item.product.url }}">{{ item.title | escape }}</a>
                  <ul class="list-unstyled itemsProp">
                    {% for property in item.product.properties %}
                    <li>
                    <strong>{{property.name}}:</strong>
                    {%for itempr in property.characteristics%}{{itempr.name}}{% unless forloop.last %},{% endunless %}
                    </li>
                    {%endfor%}
                    {% endfor %}
                  </ul>
                  <ul class="list-unstyled ctDescOptions">
                    <li><a id="delete_{{ item.id }}" href="{{ item.url }}">удалить</a></li>
                  </ul>
                </td>
                <td class="ctQuant">
                  {% if item.product.properties.pack.characteristics.size %}
                     {% capture pack %}{{item.product.properties.pack.characteristics.first.handle}}{% endcapture %}
                     {% capture item_tmp %}{{ item.quantity }}{% endcapture %}
                     <select name="pack_quantity[{{ item.id }}]" iid="{{ item.id }}" class="select">
                     {% for i in (1..10) %}
                      {% capture pack_tmp %}{{ pack | to_integer | times: i }}{% endcapture %}
                         <option value="{{ pack_tmp }}"
                          {% if pack_tmp == item_tmp %}selected{% endif %}
                         >
                          {{ pack_tmp }}
                         </option>
                     {% endfor %}
                    </select>
                    <input type="hidden" value="{{ item.quantity }}" iid="{{ item.id }}" name="cart[quantity][{{ item.id }}]">
                  {% else %}
                    <input type="text" value="{{ item.quantity }}" name="cart[quantity][{{ item.id }}]" class="text cartCol" maxlength="3" size="2">
                  {% endif %}
                  <input type="hidden" value="{{ item.variant.quantity }}" iid="{{ item.id }}" class="item_variant_quantity" name="item_variant_quantity_{{ item.id }}">
                  <div class="quantity-limit-warning" style="display:none;">Извините, на складе недостаточно товара в запрошенном количестве.</div>
                  <a href="#" class="recalc" style="display:none">Пересчитать</a>
                </td>
                <td class="ctPrice"><span class="new">{{ item.sale_price | money | replace: ' ','&nbsp;' }}</span></td>
                <td class="ctOverall"><span class="new">{{ item.total_price | money | replace: ' ','&nbsp;' }}</span></td>
              </tr>
            {% endfor %}

          <tr class="couponRow">
            <td colspan="4">
              {% if cart.invalid_coupon? %}
                  <p class="coupon_message">Уважаемый покупатель! Вами был введен промо-код, который, либо не существует, либо не может быть применен к данной группе товаров или в настоящее время.</p>
              {% endif %}
              <p class="coupon_field">
              Купоны
              <input type="text" class="text" value="{{ cart.coupon }}" name="cart[coupon]" id="coupon_text" style="margin-left: 10px;"/>
              <input type="submit" class="btn btn-dark btnCoupon recalculate" value="Применить купон" />
            </p>
            </td>
            <td class="d-flex align-items-center cartSumma">
              <span>{{ cart.items_price | money | replace: ' ','&nbsp;'}}</span>
            </td>
          </tr>
          {% comment %}
            <tr>
              <td class="coupon a-right" colspan="5">
                  {% if cart.invalid_coupon? %}
                      <p class="coupon_message"><strong>Уважаемый покупатель! Вами был введен промо-код, который, либо не существует, либо не может быть применен к данной группе товаров или в настоящее время.</strong></p>
                  {% endif %}
                <p class="coupon_field">
                  Купоны
                  <input type="text" class="text" value="{{ cart.coupon }}" name="cart[coupon]" id="coupon_text" style="margin-left: 10px;"/>
              <input type="submit" class="btn btn-dark btnCoupon recalculate" value="Применить купон" />
                </p>
              </td>
            </tr>


            <!-- Купон -->
            {% if cart.enable_coupon? %}
              <tr>
                <td class="coupon a-right" colspan="5">
                    {% if cart.invalid_coupon? %}
                        <p class="coupon_message"><strong>Уважаемый покупатель! Вами был введен промо-код, который, либо не существует, либо не может быть применен к данной группе товаров или в настоящее время.</strong></p>
                    {% endif %}
                  <p class="coupon_field">
                      {{blocks.coupon.content}}
                    <input type="text" class="text" value="{{ cart.coupon }}" name="cart[coupon]" id="coupon_text" style="margin-left: 10px;"/>
                <input type="submit" class="btnCoupon recalculate" value="Применить купон" />
                  </p>
                </td>
              </tr>
              {% include 'coupon' %}
            {% endif %}
            <!-- // Купон -->
            {% endcomment %}
            <tr>
              <td colspan="3"><a class="btnBackToShop" href="/">Вернуться в магазин</a></td>
              <td colspan="2" class="text-right"><input id="create_order" type="submit" class="btn btn-dark submit btnGoToCash" value="Оформить заказ" name="make_order"></td>
            </tr>
          </tbody>
        </table>

        <div class="cartSummary clearfix">
          <div class="left">
            <p><strong>Выгодные предложения от нашего интернет-магазина</strong></p>
            <p>Бесплатная доставка по всей России при заказе от 3000 рублей!</p>

            <p>Кликни по промокоду и нажми "Применить купон"!</p>
            <!--p><span class="promolink">embajador</span> Только в октябре! Скидка - 25% на весь ассортимент Embajador</p-->
            <p><span class="promolink">time</span> В выходные дни с 12.00 до 16.00 скидка -20% на все товары, кроме новой коллекции, уцененных товаров и товаров,участвующих в других акциях</p>
            <p>Подпишись на <a href="/page/podpiska-na-novosti">нашу рассылку</a> и получи подарок!</p>
            <p>Подпишись на нас в <a href="https://instagram.com/atlanticrussia">Instagram</a> и получи подарок!</p>
            <p>Вступай в нашу группу <a href="http://vk.com/club27559949">Vkontakte</a> и получи подарок!</p>
            <!--{{blocks.cartblock.content}}-->
          </div>
          <div class="right">
        <!-- Скидки -->
        <p class="discounts" style="{% if cart.discounts %}display:block;{%else%}display:none;{% endif %}">
           {% for discount in cart.discounts %}
              <strong>{{ discount.description }}:</strong> <span class="big">{{ discount.amount | money }}</span><br clear="all" />
            {% endfor %}
        </p>

        <!-- // Скидки -->
          </div>
        </div>
        {% comment %}
        <div class="fieldCheckNext clearfix">
          <a class="btnBackToShop" href="/">Вернуться в магазин</a>
           <input id="create_order" type="submit" class="submit btnGoToCash" value="Оформить заказ" name="make_order">

          {% if cart.items_price > 1500 %}
            <input id="create_order" type="submit" class="submit btnGoToCash" value="Оформить заказ" name="make_order">
          {% else %}
            <span style="float:right; font-size:1.5em; text-align:right;">Извините, минимальная сумма заказа &mdash; <strong>1500 рублей</strong>.<br /> Добавьте в корзину еще несколько товаров.</span>
          {% endif %}

        </div>
        {% endcomment %}
      </form>
      {% else %}
        <p>Ваша корзина пуста.</p>
      {% endif %}

    </div>
  </div>
</section>
