<div class="container catalog-tovarov">
  <div class="row">
    <div class="col-md-3 pl-0">
    <ul class="list-unstyled catalog-menu py-4 px-0">
    	{% for collection in collections %}
        	{% if collection.show? %}
      			{% if collection.current? %}
      				{% for subcollection in collection.subcollections%}
                <li class="px-4 mx-0"><a href="{{subcollection.url}}">{{subcollection.title}}</a></li>
      				{% endfor %}
      			{% endif %}
      		{% endif %}
      	{% endfor %}
    </ul>
  </div>
    <div class="col-md-9 catalog-list">
      <h1>{{ collection.title }}</h1>
      <div class="row">


        {% if products.size > 0 %}

        {% paginate products by 15 %}

        {% if paginate.pages > 1 %}
        <div class="container">
            <ul class="pagination">
              {% if paginate.previous %}
              <li class="page-item"><a href="{{paginate.previous.url}}"class="page-link">&laquo;</a></li>
              {% endif %}
                  {% for part in paginate.parts %}
                  {% if paginate.current_page == part.title %}
                  <li class="page-item active">
                  {% else %}
                    <li class="page-item">
                  {% endif %}
                        {% if part.is_link %}
                        <a href="{{part.url}}" class="page-link">{{part.title}}</a>
                            <!--{{ part.title | link_to: part.url }}-->
                        {% else %}
                            <a class="page-link">{{part.title}}</a>
                        {% endif %}
                      </li>
                  {% endfor %}
                  {% if paginate.next %}
                <li class="page-item"><a href="{{paginate.next.url}}" class="page-link">&raquo;</a></li>
              {% endif %}
              </ul>
        </div>
        {% endif %}

          {% comment %}
          <div class="paginationList clearfix order-form">
            <form id="options" action="{{collection.url}}" method="get" class="variants">
              {% if language.not_default? %} <input type="hidden" name="lang" value="{{ language.locale }}"> {% endif %}
              <table style="float:left">
                  <tr>
                      {% for option in collection.options %}
                      {% if option.values.size > 1 %}
                         {% if option.title == 'Размер' %}
                      <td>
                        <span style="font-size: 1.1em; color: #8F7F8E;">Выбрать размер: </span>
                          <select name="options[{{option.id}}][]" class="options" style="margin-top: -2px;" >
                              <option value=""></option>
                              {% for value in option.values %}
                              <option value="{{value.id}}" {% if value.selected %}selected{% endif %}>{{value.title}}</option>
                              {% endfor %}
                          </select>
                      </td>
                      {% else %}
                      {% endif %}
                      {% endif %}
                      {% endfor %}
                  </tr>
              </table>


              <label for="order">Сортировать по:</label>
                  <select name="order" id="order" class="params options">
                    {{ "" | select_option: order, "" }}
                    {{ "price"  | select_option: order, "По возрастанию цены" }}
                    {{ "descending_price"  | select_option: order, "По убыванию цены" }}
                    {{ "title"  | select_option: order, "Названию" }}
                  </select>

                 <label for="page_size">На странице по:</label>
                  <select name="page_size" id="page_size" class="params options">
                    {{ "18" | select_option: page_size, "18 товаров" }}
                    {{ "36"  | select_option: page_size, "36 товара" }}
                    {{ "72"  | select_option: page_size, "72 товара" }}
                  </select>
            </form>

              {% if paginate.pages > 1 %}
              <div class="pagination">
                  <ul class="clearfix">
                    {% if paginate.previous %}
                    <li class="pagPrev">{{ '&laquo;' | link_to: paginate.previous.url}}</li>
                    {% endif %}
                        {% for part in paginate.parts %}
                          <li {% if forloop.last? and paginate.previous == nil %}class="last"{% endif %}>
                              {% if part.is_link %}
                                  {{ part.title | link_to: part.url }}
                              {% else %}
                                  <strong>{{ part.title }}</strong>
                              {% endif %}
                            </li>
                        {% endfor %}
                        {% if paginate.next %}
                      <li class="pagNext last">{{ '&raquo;' | link_to: paginate.next.url }}</li>
                    {% endif %}
                    </ul>
              </div>
              {% endif %}
          </div>
          {% endcomment %}


          {% for product in products %}
         	  <div class="col-md-4 mb-5">
     			      <div class="product">
     				         <div class="product-img text-center">
     					         <a title="{{ product.title | escape }}" class="picture" href="{{ product.url }}">
                         <img alt="{{ product.title | escape }}" src="{{ product.first_image.medium_url }}" class="prodImg centerImg" />
                       </a>
     				         </div>
     				            <p class="product-title">
     					                <a href="{{ product.url }}" title="{{ product.title }}">{{ product.title | escape }}</a>
     				            </p>
     				            <!--p class="product-desc">{{ product.description | strip_html | truncate:60 }}</p-->
     				            <p class="product-price">{{ product.price | money }}</p>
     			      </div>
     		     </div>
           {% endfor %}
           {% endpaginate %}
         {% endif %}

         {% if products.size == 0 %}
           <p>В категории нет товаров</p>
         {% endif %}
      </div>
 	</div>
  </div>
</div>
{% comment %}
<script type="text/javascript">
  $(function(){
    $(".options").change(function(){
      $("form#options").submit();
    });
  });

</script>
<div id="verticalMenu">


<ul id="navShopCat">
  	{% for collection in collections %}
           {% if collection.show? %}
                  <!--div class="navShopWrap {% if collection.current? %}navShopItemCurrent{% endif %}"><div class="navShopItemWrap"><div class="navShopItemWrapContent"-->
                    <li class="level1"><a href="{{ collection.url }}"{% if collection.current? %} class="active"{% endif %}>{{ collection.title }}</a></li>
                    {% if collection.subcollections.size > 0 %}
                      <ul>
                        {% for subcollection in collection.subcollections %}
                           <li class="level2{% if subcollection.current? %} active{% endif %}">
                            <a href="{{ subcollection.url }}"{% if subcollection.current? %} class="active"{% endif %}>{{ subcollection.title }}</a>
                            {% if subcollection.subcollections.size > 0 and subcollection.current? %}
                              <ul>
                                {% for subcollection in subcollection.subcollections %}
                                   <li class="level3{% if subcollection.current? %} active{% endif %}">
                                    <a href="{{ subcollection.url }}"{% if subcollection.current? %} class="active"{% endif %}>{{ subcollection.title }}</a>
                                   </li>
                                {% endfor %}
                              </ul>
                            {% endif %}
                           </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  <!--/div></div></div-->
                {% endif %}
  			{% endfor %}
  </ul>

  <div id="seotext">
    {{ collection.description }}
  </div>

</div>
<div id="shopContent">
  <h1>{{ collection.title }}</h1>



  {% if products.size > 0 %}
    {% paginate products by 15 %}

    <div class="paginationList clearfix order-form">
      <form id="options" action="{{collection.url}}" method="get" class="variants">
        {% if language.not_default? %} <input type="hidden" name="lang" value="{{ language.locale }}"> {% endif %}
        <table style="float:left">
            <tr>
                {% for option in collection.options %}
                {% if option.values.size > 1 %}
                   {% if option.title == 'Размер' %}
                <td>
                  <span style="font-size: 1.1em; color: #8F7F8E;">Выбрать размер: </span>
                    <select name="options[{{option.id}}][]" class="options" style="margin-top: -2px;" >
                        <option value=""></option>
                        {% for value in option.values %}
                        <option value="{{value.id}}" {% if value.selected %}selected{% endif %}>{{value.title}}</option>
                        {% endfor %}
                    </select>
                </td>
                {% else %}
                {% endif %}
                {% endif %}
                {% endfor %}
            </tr>
        </table>


        <label for="order">Сортировать по:</label>
            <select name="order" id="order" class="params options">
              {{ "" | select_option: order, "" }}
              {{ "price"  | select_option: order, "По возрастанию цены" }}
              {{ "descending_price"  | select_option: order, "По убыванию цены" }}
              {{ "title"  | select_option: order, "Названию" }}
            </select>

           <label for="page_size">На странице по:</label>
            <select name="page_size" id="page_size" class="params options">
              {{ "18" | select_option: page_size, "18 товаров" }}
              {{ "36"  | select_option: page_size, "36 товара" }}
              {{ "72"  | select_option: page_size, "72 товара" }}
            </select>
      </form>

        {% if paginate.pages > 1 %}
        <div class="pagination">
            <ul class="clearfix">
              {% if paginate.previous %}
              <li class="pagPrev">{{ '&laquo;' | link_to: paginate.previous.url}}</li>
              {% endif %}
                  {% for part in paginate.parts %}
                    <li {% if forloop.last? and paginate.previous == nil %}class="last"{% endif %}>
                        {% if part.is_link %}
                            {{ part.title | link_to: part.url }}
                        {% else %}
                            <strong>{{ part.title }}</strong>
                        {% endif %}
                      </li>
                  {% endfor %}
                  {% if paginate.next %}
                <li class="pagNext last">{{ '&raquo;' | link_to: paginate.next.url }}</li>
              {% endif %}
              </ul>
        </div>
        {% endif %}
    </div>

    <div id="productList">
      <div class="productListWrap clearfix">
          {% for product in products %}{% include 'product_view' %}{% endfor %}
      </div>
    </div>

    {% if paginate.pages > 1 %}
      <div class="paginationList clearfix">
           <div class="pagination">
             <ul class="clearfix">
                <!-- <li class="pagPrev"><a href="http://www.atlantic.pl/kategoria/2-damska.html?page=4" title="poprzednia">poprzednia</a></li> -->
                {% for part in paginate.parts %}
                  <li {% if forloop.last %}class="last"{% endif %}>
                      {% if part.is_link %}
                          {{ part.title | link_to: part.url }}
                      {% else %}
                          <strong>{{ part.title }}</strong>
                      {% endif %}
                    </li>
                {% endfor %}
              <!-- <li class="pagNext last"><a title="następna" href="http://www.atlantic.pl/kategoria/2-damska.html?page=2">następna »</a></li> -->
                </ul>
           </div>
      </div>
      {% endif %}

    {% endpaginate %}
 <!--<div class="collection_description editor-content">{{ collection.description }}</div>
  {% else %}
   <div class="collection_description editor-content">{{ collection.description }}</div>
    {% if collection.description %}{% else %}<p>В этом разделе нет товаров.</p>{% endif %}
  {% endif %}-->
</div>
<script>
    $(function(){
        $('span.avaiableProductColor img').each(function(index) {
            var color = get_color($(this).attr('src'),{sku:$(this).attr('data-sku')});
            $(this).attr('alt', color);
            $(this).attr('title', color);
        });
    });
</script>
{% endcomment %}
