 <section class="container slider bgbannner d-none d-md-block">
      <img src="{{ 'slidertpl.png' | asset_url}}" class="w-100"/>
      <img src="{{ 'newcol.png' | asset_url}}" class="signbanner"/>
    </section>
	
  	<section class="container my-5 d-none d-md-block dials">
    <h2 class="mb-4">Специальные предложения</h2>
    <div id="carousel" class="carousel slide" data-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row px-5">
          <div class="col-md-6 col-12">
            <img class="img-fluid" src="{{ 'slide1.png' | asset_url}}" alt="...">
            <div class="carousel-caption infoblock1">
              <h3 class="mb-1">Название товара</h3>
              <p class="usl">условие акции</p>
              <p class="sale-price">1199 р</p>
              <a class="sale-buy" href="#">Купить</a>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <img class="img-fluid" src="{{ 'slide2.png' | asset_url}}" alt="...">
            <div class="carousel-caption infoblock1">
              <h3 class="mb-1">Название товара</h3>
              <p class="usl">условие акции</p>
              <p class="sale-price">1199 р</p>
              <a class="sale-buy" href="#">Купить</a>
            </div>
          </div>
       </div>
      </div>

      <div class="carousel-item">
        <div class="row px-5">
          <div class="col-md-6 col-12">
            <img class="img-fluid" src="{{ 'slide1.png' | asset_url}}" alt="...">
            <div class="carousel-caption infoblock1">
              <h3 class="mb-1">Название товара</h3>
              <p class="usl">условие акции</p>
              <p class="sale-price">1199 р</p>
              <a class="sale-buy" href="#">Купить</a>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <img class="img-fluid" src="{{ 'slide2.png' | asset_url}}" alt="...">
            <div class="carousel-caption infoblock1">
              <h3 class="mb-1">Название товара</h3>
              <p class="usl">условие акции</p>
              <p class="sale-price">1199 р</p>
              <a class="sale-buy" href="#">Купить</a>
            </div>
          </div>
       </div>
      </div>

    </div>
    <!-- Элементы управления -->
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Предыдущий</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Следующий</span>
    </a>
  </div>
</section>

<section class="container mb-5 novinki">
  <h2 class="mb-4">Новинки</h2>
  <div id="carousel-n" class="carousel slide" data-ride="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row px-5">
        <div class="col-md-3 col-12">
          <img class="img-fluid" src="{{ 'nov1.png' | asset_url}}" alt="...">
          <div class="carousel-caption infoblock2">
            <h4 class="mt-0 my-2">Пижама Forest Berry</h4>
            <ul class="list-unstyled sku-params">
              <li>цвет</li>
              <li>размер</li>
            </ul>
            <p class="sku-price">1199 ₽</p>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <img class="img-fluid" src="{{ 'nov2.png' | asset_url}}" alt="...">
          <div class="carousel-caption infoblock2">
            <h4 class="mt-0 my-2">Пижама Forest Berry</h4>
            <ul class="list-unstyled sku-params">
              <li>цвет</li>
              <li>размер</li>
            </ul>
            <p class="sku-price">1199 ₽</p>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <img class="img-fluid" src="{{ 'nov3.png' | asset_url}}" alt="...">
          <div class="carousel-caption infoblock2">
            <h4 class="mt-0 my-2">Пижама Forest Berry</h4>
            <ul class="list-unstyled sku-params">
              <li>цвет</li>
              <li>размер</li>
            </ul>
            <p class="sku-price">1199 ₽</p>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <img class="img-fluid" src="{{ 'nov4.png' | asset_url}}" alt="...">
          <div class="carousel-caption infoblock2">
            <h4 class="mt-0 my-2">Пижама Forest Berry</h4>
            <ul class="list-unstyled sku-params">
              <li>цвет</li>
              <li>размер</li>
            </ul>
            <p class="sku-price">1199 ₽</p>
          </div>
        </div>
     </div>
    </div>

    <div class="carousel-item">
      <div class="row px-5">
        <div class="col-md-3 col-12">
          <img class="img-fluid" src="{{ 'nov1.png' | asset_url}}" alt="...">
          <div class="carousel-caption infoblock2">
            <h4 class="mt-0 my-2">Пижама Forest Berry</h4>
            <ul class="list-unstyled sku-params">
              <li>цвет</li>
              <li>размер</li>
            </ul>
            <p class="sku-price">1199 ₽</p>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <img class="img-fluid" src="{{ 'nov2.png' | asset_url}}" alt="...">
          <div class="carousel-caption infoblock2">
            <h4 class="mt-0 my-2">Пижама Forest Berry</h4>
            <ul class="list-unstyled sku-params">
              <li>цвет</li>
              <li>размер</li>
            </ul>
            <p class="sku-price">1199 ₽</p>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <img class="img-fluid" src="{{ 'nov3.png' | asset_url}}" alt="...">
          <div class="carousel-caption infoblock2">
            <h4 class="mt-0 my-2">Пижама Forest Berry</h4>
            <ul class="list-unstyled sku-params">
              <li>цвет</li>
              <li>размер</li>
            </ul>
            <p class="sku-price">1199 ₽</p>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <img class="img-fluid" src="{{ 'nov4.png' | asset_url}}" alt="...">
          <div class="carousel-caption infoblock2">
            <h4 class="mt-0 my-2">Пижама Forest Berry</h4>
            <ul class="list-unstyled sku-params">
              <li>цвет</li>
              <li>размер</li>
            </ul>
            <p class="sku-price">1199 ₽</p>
          </div>
        </div>
     </div>
    </div>

  </div>
  <!-- Элементы управления -->
  <a class="carousel-control-prev" href="#carousel-n" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Предыдущий</span>
  </a>
  <a class="carousel-control-next" href="#carousel-n" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Следующий</span>
  </a>
</div>
</section>

    <section class="container brands mb-5">
    <h2 class="mb-4">Наши партнеры</h2>
    <ul class="row list-unstyled">
      <li class="col-md-3"><img class="img-fluid" src="{{ 'brandmask.png' | asset_url}}" alt=""></li>
      <li class="col-md-3"><img class="img-fluid" src="{{ 'brandmask.png' | asset_url}}" alt=""></li>
      <li class="col-md-3"><img class="img-fluid" src="{{ 'brandmask.png' | asset_url}}" alt=""></li>
      <li class="col-md-3"><img class="img-fluid" src="{{ 'brandmask.png' | asset_url}}" alt=""></li>
    </ul>
    </section>

{% comment %}
<div id="left">
   
   <div class="akciya">
     <a href="//page/tovar-aprelya">
   		<img src="{{ "april18-sq.jpg" | file_url }}" />
     </a>
   </div>
   
   <div class="akciya">
   		<a href="/collection/idei-dlya-podarkov">
   		<img src="{{ "ideas18-sq.jpg" | file_url }}" />
   		</a>
   </div>
   
   <div class="akciya">
   		<a href="/collection/posledniy-razmer">
   		<img src="{{ "lastsize-sq.jpg" | file_url }}" />
   		</a>
   </div>
   
   <div class="akciya"> 
    	{%comment%}
       	<img src="{{ "schc-sq.jpg" | file_url }}" border="0" alt="Счастливые часы на выходных" />
       	<img src="{{ "schas1214-sq.jpg" | file_url }}" border="0" alt="Счастливые часы на выходных" />
       {%endcomment%}
       <img src="{{ "hh-sq.jpg" | file_url }}" border="0" alt="Счастливые часы на выходных" />
   </div>   
   
   <div class="akciya">
   		<a href="/page/podpiska-na-novosti">
   		<img src="{{ "500rubvpodarok-sq.jpg" | file_url }}" />
   		</a>
   </div>
   
   <div class="akciya"> 
   		<img src="{{ 'nakopbonus-sq.jpg' | file_url}}" border="0" alt="Участвуй в накопительной программе" />  
   </div>
   
   <div class="akciya">
      <a href="http://www.atlantic-shop.ru/page/atlantic-v-instagram">
   		<img src="http://static2.insales.ru/files/1/4795/1438395/original/Instagram-sq.jpg" />
   		</a>
   </div>
   
   <div id="freedelivery">
   		<img src="{{ 'delivery.jpg' | asset_url }}" />
   </div>
   
     <div class="akciya"> 
     <a href="/collection/dlya-zhenschin-2">
   		<img src="{{ 'newwoman17-sq.jpg' | file_url}}" border="0"  alt="Новая женская коллекция" />  
     </a>
   </div>
   
   <div class="akciya"> 
     <a href="/collection/rasprodazha-2">
   		<img src="{{ 'springsale2-sq.jpg' | file_url}}" border="0" alt="SpringSale" />  
     </a>
   </div>
   
   <!--
   <div class="akciya">
     <a href="/collection/novaya_collekciya">
   		<img src="{{ 'npmay-sq.jpg' | file_url}}" border="0" alt="Новые поступления" />
     </a>  
   </div> 
-->
     
   <!--div class="akciya"> 
     <a href="/collection/dlya-zhenschin">
   		<img src="{{ 'outlet-sq.jpg' | file_url}}" border="0" alt="Новые поступления в наш аутлет" />  
     </a>
   </div-->   
           
   <div class="akciya"> 
     <a href="/collection/novaya-kollektsiya-2">
   		<img src="{{ 'newcol17-sq.jpg' | file_url}}" border="0" alt="Новая коллекция уже в продаже" />  
     </a>
   </div>
   
   </div>

   <div id="right">
<div id="shopHome">
  
  {% comment %}
  <script src="http://e-timer.ru/js/etimer.js"></script>
  <script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery(".eTimer").eTimer({
			etType: 0, 
            etDate: "2.07.2017.23.59", 
            etTitleText: "До окончания акции осталось:", 
            etTitleSize: 14, 
            etShowSign: 1, 
            etSep: ":", 
            etFontFamily: "Trebuchet MS", 
            etTextColor: "#a3a3a3", 
            etPaddingTB: 15, 
            etPaddingLR: 15, 
            etBackground: "rgba(51, 51, 51, 0.98)", 
            etBorderSize: 0, 
            etBorderRadius: 2, 
            etBorderColor: "white", 
            etShadow: " 0px 0px 10px 0px #333333", 
            etLastUnit: 4, 
            etNumberFontFamily: "Impact", 
            etNumberSize: 35, 
            etNumberColor: "white", 
            etNumberPaddingTB: 0, 
            etNumberPaddingLR: 8, 
            etNumberBackground: "#11abb0", 
            etNumberBorderSize: 0, 
            etNumberBorderRadius: 5, 
            etNumberBorderColor: "white", 
            etNumberShadow: "inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5)"
		});
	});
</script>

  <div class="coupon50">
    <img src="{{ 'skidkajun10dn.jpg' | file_url}}" border="0" />
    <div class="eTimer"></div>
    {% comment %}
    <h2>Дорогие друзья. Получите бонусы в мае!</h2>
    <p>Сделайте заказ с 19 по 31 мая и получите бонусы в размере 50% от суммы заказа!</p>
    <p>Использовать бонусы будет можно с 1 по 30 июня <br>оплатив ими <strong>до 50% от суммы заказа</strong> в интернет-магазине Atlantic.</p>
    <small>Оплатить бонусами можно только приобретенные товары. Оплата бонусами доставки невозможна</small>
    {% endcomment %}
    
  </div>
  <div class="cb"></div>
  {% endcomment %}

  <div id="slider">
    
    <a href="/page/tovar-aprelya">
   		<img src="{{ "april18.jpg" | file_url }}" />
     </a>
    
     <a href="/collection/dlya-zhenschin-2">
   		<img src="{{ "ncplw-18.jpg" | file_url }}" alt="Новая коллекция женская"/>
     </a>
    
     <a href="/collection/dlya-muzhchin-2">
   		<img src="{{ "ncplm-18.jpg" | file_url }}" alt="Новая коллекция мужская"/>
     </a>
    
    <a href="/collection/idei-dlya-podarkov">
   		<img src="{{ "ideas18.jpg" | file_url }}" />
   	</a>	
    
    <a href="/collection/posledniy-razmer">
   		<img src="{{ "lastsize.jpg" | file_url }}" />
    </a>
    
    <img src="{{ "hhnew.jpg" | file_url }}" alt="Счастливые часы на выходных" />
    
    
    <a href="/page/podpiska-na-novosti">
    	<img src="{{ "500rubvpodarok.jpg" | file_url }}" border="0" alt="Подпишись на нашу рассылку и получи подарок" />
    </a>
    
    <img src="{{ 'nakopbonus.jpg' | file_url}}" border="0" alt="Участвуй в накопительной программе" />
    
    <a href="/page/atlantic-v-instagram">
          <img src="http://static2.insales.ru/files/1/4775/1438375/original/Instagram.jpg" border="0" alt="Atlantic в INSTAGRAM" />
    </a>
  
    
    <!--a href="/collection/dlya-zhenschin-2">
   		<img src="{{ 'newwoman17.jpg' | file_url}}" border="0"  alt="Новая женская коллекция" />  
     </a-->
    
     <a href="/collection/rasprodazha-2">
   		<img src="{{ 'springsale2.jpg' | file_url}}" border="0" alt="SpringSale" />  
     </a>
    
    <!--
    <a href="/collection/novaya_collekciya">
   		<img src="{{ 'npmay.jpg' | file_url}}" border="0" alt="Новые поступления" />
     </a> 
-->
      
    <!--a href="/collection/dlya-muzhchin">
   		<img src="{{ 'outlet.jpg' | file_url}}" border="0" alt="Новые поступления в наш аутлет" />  
     </a-->
    
     <!--a href="/collection/novaya-kollektsiya-2">
   		<img src="{{ 'newcol17.jpg' | file_url}}" border="0" alt="Новая колекция уже в продаже" />  
     </a-->    
     
    {% comment %}
    <a href="/collection/novaya_collekciya">
   		<img src="{{ 'ncoct2016.jpg' | file_url}}" border="0" alt="Новая коллекция уже в продаже" />  
     </a>
        
    <a href="/collection/magic-pocket">
      <img src="http://static-eu.insales.ru/files/1/3622/1895974/original/MP.jpg" border="0" alt="Magic Pocket" />
    </a> 
    {% endcomment %}
    
    </div>   

    {% if collections.predlozhenie-nedeli.products.size > 0 %}
    <div id="tovar-nedeli">
    <a class="a_pn" href="http://www.atlantic-shop.ru/collection/predlozhenie-nedeli">Предложение недели</a>
                {% for product in collections.predlozhenie-nedeli.products limit:6 %}
      				{% include 'pn_viev' %}
      				{%if forloop.index == 3 %}
      					<div class="cb"></div>
      				{% endif %}
      			{% endfor %}
  {% endif %}
   <div class="cb"></div>
      </div>

  {% if collections.frontpage.products.size > 0 %}
    <!--h3>{{blocks.notification.content}}</h3-->
        <div class="clearfix" id="promotedItemsHome">
            <div class="promotedItemsHomeWrap">
                {% for product in collections.frontpage.products %}{% include 'product_view' %}{% endfor %}
            </div>
        </div>
  {% endif %}
    

  <div class="editor-content">
    {{ page.content }}
   </div>
</div>


<div class="index">

  {{blocks.index.content}}
</div>
</div>
 

<script>
    $(function(){
        $('span.avaiableProductColor img').each(function(index) {
            var color = get_color($(this).attr('src'),{sku:$(this).attr('data-sku')});
            $(this).attr('alt', color);
            $(this).attr('title', color);
        });
    });
</script>
{% endcomment %}

