<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="yandex-verification" content="fe1179af169c0c04" />

  <link rel="stylesheet" href="{{ 'product.css' | asset_url}}">
  <link rel="stylesheet" type="text/css" href="{{ 'lightboxMA.css' | asset_url }}">
  <link rel="stylesheet" type="text/css" href="{{ 'javascript.css' | asset_url }}" media="all">

  <script src="https://use.fontawesome.com/bd68b09bc0.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ 'style.css' | asset_url}}">

  <title>{{ title | escape }}</title>
  <meta content="{{ keywords }}" name="keywords" />
  <meta content="{{ description }}" name="description" />


  {%comment%}
  <title>{{ title | escape }} </title>
  <!--meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"-->
  <meta http-equiv="Content-language" content="ru" />
  <meta content="{{ keywords }}" name="keywords" />
  <meta content="{{ description }}" name="description" />
  <meta name='yandex-verification' content='7467e6cf765c7dbd' />
  <meta name="google-site-verification" content="liJF0mfxEce30uBE7Y4LwSBRAIlnADCbGFrtRr5SRAA" />
  <meta name="viewport" content="width=1000">
  <meta name="mailru-domain" content="OA4GM0Uq8LMh2kyc" />

  <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}">
  <link rel="alternate" type="application/rss+xml" title="Новости магазина Atlantic-shop.ru" href="/blog.atom" />

  <link rel="stylesheet" type="text/css" href="{{ 'all.css' | asset_url }}">
  <link rel="stylesheet" type="text/css" href="{{ 'screen.css' | asset_url }}">
  <link rel="stylesheet" type="text/css" href="{{ 'print.css' | asset_url }}">
  <link rel="stylesheet" type="text/css" href="{{ 'lightboxMA.css' | asset_url }}">
  <link rel="stylesheet" type="text/css" href="{{ 'jquery.bxslider.css' | asset_url }}">
  <link rel="stylesheet" type="text/css" href="{{ 'jquery.lightbox-0.5.css' | asset_url }}" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ 'main.css' | asset_url }}" />
  <link rel="stylesheet" type="text/css" href="{{ 'nivo-slider.css' | asset_url }}" />

  <script type="text/javascript">
    document.write('<link rel="stylesheet" type="text/css" href="{{ 'javascript.css' | asset_url }}" media="all">');
  </script>

  <!--script type="text/javascript" src="{{ 'jquery-1.3.2.min.js' | asset_url }}"></script-->
  <!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script-->
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">google.load("jquery", "1");</script>

  <script type="text/javascript" src="{{ 'jquery.nivo.slider.pack.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'mainpage.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'hoverIntent.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'superfish.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'zoommerMa.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'scrollerMa.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'lightboxMA.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'jquery-ui-1.7.2.custom.min.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'atlantic_options.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{  'jquery.bxslider.min.js' | asset_url }}"></script>

  <!-- InSales scripts -->
  <script type="text/javascript">
    var money_with_currency_format = '{{money_with_currency_format}}';
  </script>
  <script type="text/javascript" src="{{ 'shop/common.js' | global_asset_url }}"></script>
  <script type="text/javascript" src="{{ 'jquery.inspect.js' | global_asset_url }}"></script>
  <script type="text/javascript" src="{{ 'jquery.timers.1.1.2.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'cart.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'centerImage.js' | asset_url }}"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.promolink').click(function(){
      	var kod=$(this).text();
        $('#coupon_text').val(kod)
      })
    })
  </script>
{%endcomment%}
</head>

<body>

  <header class="container sticky-top d-none d-md-block header">
        <ul class="row list-unstyled m-0 p-0">
          <li class="col-12 col-md-4 pl-0 d-flex align-items-center">
            <!-- Begin Menu -->
            <ul class="list-inline pl-0 text-left menu">
              {% for collection in collections%}
              	{% if collection.show? %}
              		<li class="list-inline-item mr-4">
                  		<a href="{{ collection.url }}">{{ collection.title }}</a>
                      	{% if collection.subcollections.size > 0 %}
                        	<ul class="list-unstyled submenu">
                            	{% for subcollection in collection.subcollections %}
                                	<li><a href="{{ subcollection.url }}"{% if subcollection.current? %} class="active"{% endif %}>{{ subcollection.title }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
              		</li>
              	{% endif %}
              {% endfor %}
            </ul>
            <!-- End Menu -->
          </li>
          <li class="col-12 col-md-4 text-center px-0">
            <a href="/"><img src="{{ 'logo.png' | asset_url}}" /></a>
          </li>
          <li class="col-12 col-md-4 pr-0 d-flex align-items-center justify-content-end">
            <span class="phone d-inline-block mr-5">8 800 00 000 00</span>
            <i class="fa fa-fw f-lg fa-search mr-3"></i>
            <div class="korzina">
              <a href="/cart_items"><i class="fa fa-fw f-lg fa-shopping-bag"></i></a>
              <div class="korzina-brief">
                В&nbsp;корзине&nbsp;<span id="korzinaBriefQuant">{{cart.items_count}}</span>&nbsp;товаров<br>
                на&nbsp;сумму&nbsp;<span id="korzinaBriefSumm">{{cart.total_price}}</span>&nbsp;₽
              </div>
            </div>
          </li>
        </ul>
    </header>

    <section class="container d-block d-md-none">
      <div class="row">
        <li class="col-12 px-0">
          <a href="/"><img src="{{ 'logo.png' | asset_url}}" /></a>
        </li>
      </div>
    </section>

    <main class="container">
      {{ content_for_layout }}
    </main>

    <footer class="container footer">
      <div class="row">
        <div class="col-md-4">
          <h3>{{ linklists.spravka.title}}</h3>
          <ul class="list-unstyled pl-4 mt-4">
            {% for link in linklists.spravka.links %}
            	<li><a href="{{link.url}}">{{link.title}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-md-4">
          <h3>{{ linklists.kompaniya.title}}</h3>
          <ul class="list-unstyled pl-4 mt-4">
             {% for link in linklists.kompaniya.links %}
            	<li><a href="{{link.url}}">{{link.title}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Контакты</h3>
          <ul class="list-unstyled pl-4 mt-4">
            <li>Тел. (495) 000-00-00, </li>
            <li>8-000-000-00-00</li>
            <li>E-mail: <a href="mailto:love@mail.ru">love@mail.ru</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <!-- Themes Scripts -->
    {% comment %}
    <script type="text/javascript" src="{{ 'jquery.nivo.slider.pack.js' | asset_url }}"></script>
    <script type="text/javascript" src="{{ 'mainpage.js' | asset_url }}"></script>
    {% endcomment %}
    <script type="text/javascript" src="{{ 'hoverIntent.js' | asset_url }}"></script>
    <script type="text/javascript" src="{{ 'superfish.js' | asset_url }}"></script>
    <script type="text/javascript" src="{{ 'zoommerMa.js' | asset_url }}"></script>
    <script type="text/javascript" src="{{ 'scrollerMa.js' | asset_url }}"></script>
    <script type="text/javascript" src="{{ 'lightboxMA.js' | asset_url }}"></script>
    <script type="text/javascript" src="{{ 'jquery-ui-1.7.2.custom.min.js' | asset_url }}"></script>
    <script type="text/javascript" src="{{ 'atlantic_options.js' | asset_url }}"></script>
    <script type="text/javascript" src="{{  'jquery.bxslider.min.js' | asset_url }}"></script>
    <!-- End Of Themes Script -->
    <!-- InSales scripts -->
    <script type="text/javascript">var money_with_currency_format = '{{money_with_currency_format}}';</script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ 'shop/common.js' | global_asset_url }}"></script>
    <script type="text/javascript" src="{{ 'jquery.inspect.js' | global_asset_url }}"></script>
    <script type="text/javascript" src="{{ 'jquery.timers.1.1.2.js' | asset_url }}"></script>
    <script type="text/javascript" src="{{ 'cart.js' | asset_url }}"></script>
    <script type="text/javascript" src="{{ 'centerImage.js' | asset_url }}"></script>
    <!-- End Of InSales scripts -->

    <!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'mP5ExTNrA4';var d=document;var w=window;function l(){
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
<!-- {/literal} END JIVOSITE CODE -->
</body>

</html>
