<!DOCTYPE html>
<html lang='ru' xml:lang='ru' xmlns='http://www.w3.org/1999/xhtml'>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
<meta content='noindex, nofollow' name='robots'>
<title>{% yield 'title' %}</title>
{{ 'checkout' | global_stylesheet_tag }}
{% assign custom_checkout_css = 'custom_checkout.css' | asset_url_if_exists %}
{% if custom_checkout_css %}
<link href='{{ custom_checkout_css }}' rel='stylesheet'>
{% endif %}
{{ 'checkout' | global_javascript_tag }}
</head>
<body>
<div class='header-bg'>
<div class='header-blur'></div>
</div>
<div class='wrapper header fc'>
<div class='shop-name fl'>
<a href='/' target='_blank'>
<div id='logo_bg'></div>
{% if settings.use_logo_image and settings.logo_image %}
<img alt='logo' id='logo' src='{{ settings.logo_image | asset_url }}'>
{% endif %}
{% if settings == empty or settings.show_shop_name %}{{ account.title }}{% endif %}
</a>
</div>
<div class='phone fr'>{% if account.phone %}{{ account.phone }}{% endif %}</div>
</div>
<div class='wrapper body fc'>
{% if client %}
<div class='userbar fc'>
<div class='links fl'>
{% if linklists.account-menu %}
 {% for link in linklists.account-menu.links %}<a href='{{ link.url }}'>
{{ link.title }}
</a>|{% endfor %}
{% else %}<a href='/'>
<span class='b'>Вернуться в магазин</span>
</a>|<a href='/client_account/contacts'>
<span>Контактные данные</span>
</a>|<a href='/client_account/addresses'>
<span>Адрес доставки</span>
</a>|<a href='/client_account/orders'>
<span class='b'>Заказы и скидки</span>
</a>|<a href='/client_account/feedback'>
<span>Обратная связь</span>
</a>{% endif %}
</div>
<div class='profile fr'>
{{ client.full_name }}
<b></b>
(<a href='/client_account/exit'>Выход</a>)
</div>
</div>
{% endif %}
<div class='page-title'>{% yield 'title' %}</div>
{% yield 'flash_messages' %}
<div id='top_info'>{% yield 'top_info' %}</div>
{% yield %}
{% yield 'sidebar' %}
</div>
  <script>//$(document).ready(function(){$("#delivery").before("<p style='margin-bottom: 20px;color: red;'>Для оформления заказа без оплаты нажмите на кнопку ПОДТВЕРДИТЬ ЗАКАЗ</p>")})</script>
</body>
</html>
