<script type="text/javascript">
$(function(){
    var product = {{product | json}};
    window.sku = product.variants[0].sku.replace(' ','_');

    window.atlantic_product = new AtlanticProduct({{ product | json }});

  var product_colors_array = [];
  $.each(window.atlantic_product.colors,function(i, col) {
            var color_new = col.replace(/\s\[.*?\]/g, "");
            product_colors_array.push(color_new);
    });


    var images = {};
    $.each(product.images, function(index, image){
        var color = get_color(image.url);

        if($.inArray(color, product_colors_array) == -1) return;
        if (color ) {
           if ( images[color] == undefined) images[color] = {};
           $.each(window.atlantic_product.colors,function(i, col) {

            var color_new = col.replace(/\s\[.*?\]/g, "");
             if (color_new == color) {
              images[color].variant = col;
             }
         });


            if ( image.url.match(/_mini\./) ) {
                images[color].mini = image.url;
            } else {
                images[color].origin = image.url;
            }
        }

    });
    var images_html = '';
    $.each(images, function(color, urls){
        images_html += '<li id="color_'+color+'"><img alt="' + urls.variant + '" src="' + urls.mini + '"' + (urls.origin ? ' rel="' + urls.origin + '"' : ' ') + '></li>';
    });

    $('#clearfix').html(images_html);

  var options={
    position:"right",
    width:374,
    height:360,
    offsetTop:-4,
    offsetLeft:20,
    beforeShow:function(obj){$('select').hide(0);},
    afterShow:function(obj){},
    beforeHide:function(obj){$('select').show(0);},
    afterHide:function(obj){}
  };
  $(".jqzoom").zoommerMa(options);
  $(".jqzoom").click(function(){ return false; });

  $("#productPhoto .secondPhoto").not('.imagePhoto').click(function(){
    var urls=$(this).attr("href");
    urls=urls.split('#');
    $('#productPhoto .defaultPhoto img').attr('src',urls[1]);
    $('#productPhoto .defaultPhoto').attr('href',urls[0]);
    $("#productPhoto .current").removeClass('current');
    $(this).addClass('current');

    if($('.jqzoom.defaultPhoto').hasClass('visualPhoto')){
      $(".jqzoom").zoommerMa(options);
      $('.jqzoom.defaultPhoto').removeClass('visualPhoto');
    };
    return false;
  });

  $('#productDetails .pdColors ul li').hover(function(){
    $(this).addClass("hover");
    var clickedTop=$(this).position().top;
    var clickedLeft=$(this).position().left;
    if($($(this).children('img')).attr("src")=='{{ "sc_attribute_default.jpg" | asset_url }}'){
      $('#colorToolTip img').attr('src','{{ "sc_attribute_default_big.jpg" | asset_url }}');
    } else $('#colorToolTip img').attr('src',$($(this).children('img')).attr("src"));
    $('#colorToolTip h5 span').text($($(this).children('img')).attr("alt").replace(/\s\[.*?\]/g, ""));
    $('.colorToolTipPosition').css({'top':clickedTop-135,'left':clickedLeft+20});
    $('#colorToolTip').show();
  },function(){
    $('#colorToolTip').hide();
    $(this).removeClass("hover");
  });

  $('#productDetails .pdColors ul li').click(function(){

    var url = $($(this).children('img')).attr("rel");
                if ( typeof(url) !== 'undefined' ) {
                    url = url.replace( /thumb_/ ,'');
                    url = url.replace( /thumb/ ,'original');
        $('#productPhoto .defaultPhoto img').attr('src',url);
        $('#productPhoto .defaultPhoto').attr('href',url);
        if($('.jqzoom.defaultPhoto').hasClass('visualPhoto')){
      $(".jqzoom").zoommerMa(options);
      $('.jqzoom.defaultPhoto').removeClass('visualPhoto');
        };
                }

    $("#productDetails .pdColors ul li.current").removeClass('current');
    $(this).addClass('current');

    var color = $($(this).children('img')).attr("alt");

                window.atlantic_product.updateSizeSelect(color);

    return false;
  });

  if($(".secondPhotos a").length > 1) $(".secondPhotos").show();

$('#productDetails .pdColors ul li:first').trigger('click');
/*
        $('li#color_' + get_color(product.images[0].url)).trigger('click');
*/

});
</script>

<!--div class="container" id="product"-->
  <div class="row product-card mb-5" id="product main">
    <div class="col-md-4 mx-0" id="productPhoto">

      <span class="productPhoto">
        <a href="{{ product.first_image.original_url }}" class="jqzoom defaultPhoto centerProdImg">
          <img alt="{{ product.title | escape }}" src="{{ product.first_image.large_url }}" style="opacity: 1;" class="">
        </a>
      </span>

      {% assign show_common_photos = false %}
      {% capture sku %}{{product.variants.first.sku | replace:' ','_' | plus: '.jpg' }}{% endcapture %}

      <div class="secondPhotos clearfix">
        {% if product.images.size > 1 %}
          {% for image in product.images %}
          <!-- выводим только крупные картинки -->
            {% unless image.url contains 'mini' %}
              <a class="secondPhoto {% if forloop.first %}current{% endif %} {% if forloop.last %}last{% endif %}" href="{{ image.original_url}}#{{ image.original_url}}" alt="{{ product.title | escape }}" title="{{ image.title | escape }}">
                <img src="{{ image.thumb_url }}" alt="{{ image.title | escape }}" title="{{ image.title | escape }}"/>
              </a>
            {% endunless %}
          {% endfor %}
        {% endif %}
      </div>
      <div class="result"></div>

    </div>

    <div class="col-md-5 mx-0" id="productDetails">
        <h1 class="mb-5">{{ product.title | escape }}</h1>
        <p><strong>Артикул:</strong> <span>{{ product.variants.first.sku }}</span></p>
        <p><strong>Состав:</strong> <span>{{ product.properties.sostav.characteristics.first.name}}</span></p>
        <p><strong>Бренд:</strong> <span>{{ product.properties.brend.characteristics.first.name }}</span></p>
        <p class="mb-5">{{product.description}}</p>
    </div>

    <div class="col-md-3 mx-0 py-3 px-4 product-incart">
      <form action="{{ cart_url }}" method="post" id="order" class="buy_form" >
        <h2 class="mb-4">{{ product.price | money }}</h2>
        <p class="product-incart-dost">Доставка курьером по Москве<br><strong>300 руб</strong><br>от 3000 руб - <strong>Бесплатно</strong></p>
        <p>Подробнее о <a href="#">способах доставки</a> и <a href="#">способах оплаты</a></p>
        <fieldset>
          <legend>Размер</legend>
          <div class="pdSettingsSize">
            <!--label>Размер</label-->
              <select class="onChange" name="variant_id" id="variant-select">
                {% for variant in product.variants %}
                <option value="{{ variant.id }}">{{ variant.title | escape }}</option>
                {% endfor %}
              </select>
            <p><a href="#" class="pdSettingsSizeTable" id="pdSettingsSizeTable">Таблица размеров</a></p>
          </div>
        </fieldset>

        {% for variant in product.variants %}
          <input type="hidden" name="item_variant_quantity_{{ variant.id }}" value="{{ variant.quantity }}"/>
        {% endfor %}

        <!--
        <h4>Выбери цвет:</h4>
        <input type="hidden" value="" name="option[1]" id="chossenColor">
  <div id="colorToolTip" style="display: none;">
    <div class="colorToolTipPosition" style="top: -135px; left: 94px;">
      <div class="colorToolTipFrame">
        <div class="colorToolTipLoading">
          <img alt="Посмотрите товар в выбранном цвете" src="{{ '_item-color.jpg' | asset_url }}">
        </div>
        <h5>Цвет <span>granatowy</span></h5>
      </div>
    </div>
  </div>
  <div class="pdColorsWrap">
          <ul class="clearfix" id="clearfix">
          </ul>
  </div>
-->

        <fieldset>
          <legend>Количество</legend>
          {% if product.available %}
            <div class="pdSettingsCount">
              <!--label for="cartQuantity">Кол-во:</label-->
              {% if product.properties.pack.characteristics.size %}
                <select id="cartQuantity" name="quantity">
                  {% assign pack = product.properties.pack.characteristics.first.handle %}
                  {% for i in (1..10) %}
                      <option value="{{ pack | to_integer | times: i }}">
                        {{ pack | to_integer | times: i }}
                      </option>
                  {% endfor %}
                </select>
                <br clear="all" />В упаковке - {{ pack }} шт.
              {% else %}
                <input type="text" class="cartQuantity" id="cartQuantity" name="quantity" class="text" value="1">
              {% endif %}
            </div>
            <div class="text-center mt-4">
              <input type="button" id="add-cart" name="cartSubmit" class="image add_button btn btn-dark" value="Добавить в корзину" />
            </div>
            <div id="quantity-limit-warning" style="display:none;">Извините, на складе недостаточно товара в запрошенном количестве.</div>
          {% else %}
            <h6>ВРЕМЕННО НЕДОСТУПНО</h6>
          {% endif %}
        </fieldset>

      </form>
    </div>

  </div>


  {% if product.related_products.size > 0 %}
      <table>
            {% tablerow product in product.related_products cols: 4 limit: 4 %}
                  <a href="{{ product.url }}"><img src="{{ product.first_image.thumb_url }}" /></a>
                  <a href="{{ product.url }}">{{ product.sale_price | money }}</a>
                  <a href="{{ product.url }}">{{ product.title | escape }}</a><br />
                  {{ product.short_description }}
          {% endtablerow %}
      </table>
  {% endif %}
<!--
  <div class="row">
    <div class="col-md-12">

      <table class="table my-5">
        <thead>
          <tr>
            <th colspan="2">
              Характеристики
            </th>
          </tr>
        </thead>
        <tbody>
          {%for property in product.properties %}
          <tr>
            <td>{{property.name}}:</td>
            <td>
              {%for item in property.characteristics%}
              {{item.name}}{% unless forloop.last %},{% endunless %}
              {%endfor%}
            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>

    </div>
  </div>
-->
<!--/div-->
